{% extends 'base.html' %}

{% block content %}
<div class="music-detail">
  <h1>{{ music.title }}:</h1>
  <p class="music-info">{{ music.singer }} / {{ music.year }}</p>
  <pre class="lyrics">{{ music.lyrics }}</pre>
  <div style="margin-top: 10px">
    <a href="{{ url_for('core.index') }}" class="btn btn-primary">Back</a>
    <a href="{{ url_for('music.delete', id=music.id) }}" class="btn btn-error">Delete</a>
    <a href="{{ url_for('music.update', id=music.id) }}" class="btn btn-warning">Edit</a>
  </div>
</div>
{% endblock %}
